/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////            general                  ///////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body{
    margin: 0px;
    color: #000000;
    
    text-decoration: none;
}

a{
    text-decoration: none;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////            masthead                  /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.logo{
    height: 50px;
    float: left;
    margin-right: 50px;
    position: absolute;
    top: 2px;
    left: 10%;
}
.phoneNumber{
    float: right;
    margin-left: 50px;
    position: absolute;
    top: 13px;
    right: 10%;
  
}

.location{
     float: right;
    margin-left: 50px;
    position: absolute;
    top: 30px;
    right: 10%;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////            navbar                ///////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.navbar /*this selects the div outside of the entre navbar*/{
    width: 100%;
   
    margin: 0px;
    border: 0px;
    
    position: absolute;
    top: 55px;
    background-color:#1f1f1f;
    text-align: center;
    z-index: 1030;
}
.parent {
    display: block;
    position: relative;
    float: left;
    line-height: 30px;
    background-color: #1f1f1f;
    }

.parent a{
    margin-right: 60px;
    color: #FFFFFF;
    text-decoration: none;
}
.parent:hover > ul {
    display:block;
    position:absolute;
}
.child1 {
    display: none;
    background-color: #1f1f1f;
    text-align: center;
}
.child1 li {
    background-color: #1f1f1f;
    line-height: 30px;
    width: 100%;
    }
.child1 li a{
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-right: 20px;
    }
ul{
    list-style: none;
    margin: 0;
    padding: 0px;
    
    }
ul ul ul{
    left: 100%;
    top: 0;
    margin-left:1px;
    }
child1:hover {
    background-color: #1f1f1f;
    }
.parent li:hover {
    background-color: #05a1d4;
    }
.expand{
    font-size:12px;
    float:right;
    margin-right:5px;
    }

.homeLink:visited{
    color: #fff;
}
.homeLink{
    margin-left: 10%;
    
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    position: relative;
    float: left;
    background-color: #1f1f1f;
}





/*contact.php & about.html copyright styling*/

.copyright-2{
    text-align: center;
   position: absolute;
    bottom: 5px;
    font-size: 1.0em;
    width: 100%;
}
.copyright-2>p{
    text-align: center;
}
.copyright-2>p>a{
    color: #1f1f1f;
}
.copyright-2>p>a:hover{
    color: #05a1d4;
}



/*contact content*/

.contactPara{
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

/*this is the message form*/
.messageBody{ 
  display: inline-block;
  width: 100%;
  /*margin-left: 10%;
  margin-right: 10%;*/
  height: 500px;
  position: absolute;
  z-index: 9999;
  left: 0px;
  margin-top: 100px;
  top: 200px;
  text-align: center;
}
.name{
  width: 47.5%;
  margin-right: 5%
}
.email{
  width: 47.5%;
}
.subject{
  width: 100%;
  margin-top: 20px;
}
.message{
  width: 100%;
  margin-top: 20px;
}
.sendMessage:hover{
	background-color:  #000;
	color: #ffffff;
}
.sendMessage{
	margin-top: 20px;
	background-color:   #05a1d4;
	color: #fff;
}
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	.container {
		margin-left: auto;
		margin-right: auto;
		/* width: (containers) */
		width: 80%;
		height: 500px;
		
	}

	/* Modifiers */

		/* 125% */
			.container.\31 25\25 {
				width: 100%;
				/* max-width: (containers * 1.25) */
				max-width: 56.25em;
				/* min-width: (containers) */
				min-width: 45em;
			}

		/* 75% */
			.container.\37 5\25 {
				/* width: (containers * 0.75) */
				width: 33.75em;
			}

		/* 50% */
			.container.\35 0\25 {
				/* width: (containers * 0.50) */
				width: 22.5em;
			}

		/* 25% */
			.container.\32 5\25 {

				/* width: (containers * 0.25) */
				width: 11.25em;

			}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
	}

	.row > * {
		float: left;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	/* Gutters */

		/* Normal */
.actions {
    padding-left: 0px;
}
.actions:hover{
    opacity: 0.5;
}
			

			

		

	/* Cells */

		.\31 2u, .\31 2u\24 { width: 100%; clear: none; margin-left: 0; }
		.\31 1u, .\31 1u\24 { width: 91.6666666667%; clear: none; margin-left: 0; }
		.\31 0u, .\31 0u\24 { width: 83.3333333333%; clear: none; margin-left: 0; }
		.\39 u, .\39 u\24 { width: 75%; clear: none; margin-left: 0; }
		.\38 u, .\38 u\24 { width: 66.6666666667%; clear: none; margin-left: 0; }
		.\37 u, .\37 u\24 { width: 58.3333333333%; clear: none; margin-left: 0; }
		.\36 u, .\36 u\24 { width: 50%; clear: none; margin-left: 0; }
		.\35 u, .\35 u\24 { width: 41.6666666667%; clear: none; margin-left: 0; }
		.\34 u, .\34 u\24 { width: 33.3333333333%; clear: none; margin-left: 0; }
		.\33 u, .\33 u\24 { width: 25%; clear: none; margin-left: 0; }
		.\32 u, .\32 u\24 { width: 16.6666666667%; clear: none; margin-left: 0; }
		.\31 u, .\31 u\24 { width: 8.3333333333%; clear: none; margin-left: 0; }

		.\31 2u\24 + *,
		.\31 1u\24 + *,
		.\31 0u\24 + *,
		.\39 u\24 + *,
		.\38 u\24 + *,
		.\37 u\24 + *,
		.\36 u\24 + *,
		.\35 u\24 + *,
		.\34 u\24 + *,
		.\33 u\24 + *,
		.\32 u\24 + *,
		.\31 u\24 + * {
			clear: left;
		}

		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 33.3333333333% }
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }
                
                /* Form */

	form {
		margin: 0 0 0 0;
	}

	label {
		color: #777;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1.125em 0;
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		border: none;
		border: solid 2px #e4e4e4;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
		background-color: #ebebeb;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #d7ebff;
			
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: '\f078';
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: 'Corben', cursive;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: #e4e4e4;
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}


